<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>Taxonomizer by Vizzuality || New user</title>
    <link rel="stylesheet" href="/stylesheets/user.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/javascripts/user.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-18595465-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  <body>


      <div id="container">
        <div class="main">
          <div class="bubble">
            <p>
              If you know a lot about the scientific names of species, you can help us identify images without names.
              <br/><br/>
              You will get lot of karma!
            </p>
          </div>
          <div class="log">
            <div class="login">
              <a href="javascript:void checkLoginOption('login')">I already have username and password</a>
              <%= form_tag session_path do -%>
                <%= text_field_tag 'email', 'email', :class => (flash[:error] ? 'error' : '') %>
                <%= password_field_tag 'password', 'password', :class => (flash[:error] ? 'error' : '') %>
                <%= submit_tag 'Log in' %>
              <% end -%>
            </div>
            <div class="register">
              <a href="javascript:void checkLoginOption('register')">I don’t have account yet. Please give me one</a>
              <%= form_for :user, :url => users_path do |f| -%>
                <p class="long"><%= label_tag 'Your name', nil, :class => 'first' %><br/>
                <%= f.text_field :name, :class=>"long", :class => (@user.errors[:name].blank? ? '' : 'error') %></p>

                <p class="long"><%= label_tag 'Your email' %><br/>
                <%= f.text_field :email, :id=>"reg_mail", :class => (@user.errors[:email].blank? ? 'long' : 'error long') %></p>

                <p class="margin"><%= label_tag 'Your password', nil, :class => 'short' %><br/>
                <%= f.password_field :password , :class => (@user.errors[:password].blank? ? '' : 'error')%></p>

                <p><%= label_tag 'password_confirmation', 'Confirm your password', :class=>"short" %><br/>
                <%= f.password_field :password_confirmation, :class => (@user.errors[:password_confirmation].blank? ? '' : 'error') %></p>

                <p id="error_msg"><%= @user.errors.full_messages %></p>

                <p class="long"><%= submit_tag 'Log in', :onclick=>"javascript:void checkForm(event)", :id=>"register_submit" %></p>
              <% end -%>
            </div>
          </div>
          <div id="footer">
            <div class="stats">
              <p><span></span></p>
              <div class="tooltip">
                <h2>481</h2>
                <p>Species identified</p>
              </div>
              <div class="numbers">
                <h2>481</h2>
                <p>To be identified</p>
              </div>
            </div>
            <a class="logo" href="http://www.vizzuality.com" target="_blank"></a>
            <p>developed by</p>
          </div>
        </div>
      </div>
  </body>
</html>



